In [1]:
import pandas as pd
import numpy as np
import altair as alt

alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

In [37]:
X = pd.read_csv('../data/Processed_data.csv')
X.head()

,Unnamed: 0,Name,Gender,Allele1,Allele2,Population,r0,r1,r2,r3,...,r39098,r39099,r39100,r39101,r39102,r39103,r39104,r39105,r39106,r39107
0,0,P11980,F,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCGCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATGGATGGGAGCTCTGATTCCCGTG...,EthP,0,0,0,0,...,1,1,2,0,1,2,2,2,2,0
1,1,P638,F,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGACTCCTGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...,EthP,0,0,0,0,...,1,2,1,1,0,1,1,2,1,2
2,2,P5939,M,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCCGATTCCCGTG...,CTCCGTCGAAGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,EthP,0,0,0,0,...,1,0,1,0,0,1,0,2,2,1
3,3,P6402,M,CTCCGTCGACGCTTTAGGGACATAGATGGAAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,EthP,0,0,0,0,...,1,1,1,0,2,1,1,2,1,2
4,4,P3888,F,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,EthP,0,0,0,0,...,1,2,1,1,2,2,2,1,0,1

In [38]:
X.groupby(['Population'])['Gender'].value_counts()

Population  Gender
EthA        F         70
            M         55
EthE        F         67
            M         58
EthK        M         63
            F         62
EthP        F         68
            M         57
Name: Gender, dtype: int64

In [39]:
population = X.Population

In [40]:
gender = X.Gender

In [41]:
X.columns

Index(['Unnamed: 0', 'Name', 'Gender', 'Allele1', 'Allele2', 'Population',
       'r0', 'r1', 'r2', 'r3',
       ...
       'r39098', 'r39099', 'r39100', 'r39101', 'r39102', 'r39103', 'r39104',
       'r39105', 'r39106', 'r39107'],
      dtype='object', length=39114)

In [42]:
drop_columns = list(X.columns[2:6])
drop_columns.append(X.columns[0])
drop_columns

['Gender', 'Allele1', 'Allele2', 'Population', 'Unnamed: 0']

In [43]:
X = X.drop(drop_columns, axis=1)
X.columns

Index(['Name', 'r0', 'r1', 'r2', 'r3', 'r4', 'r5', 'r6', 'r7', 'r8',
       ...
       'r39098', 'r39099', 'r39100', 'r39101', 'r39102', 'r39103', 'r39104',
       'r39105', 'r39106', 'r39107'],
      dtype='object', length=39109)

In [44]:
X.head()

,Name,r0,r1,r2,r3,r4,r5,r6,r7,r8,...,r39098,r39099,r39100,r39101,r39102,r39103,r39104,r39105,r39106,r39107
0,P11980,0,0,0,0,0,0,0,0,0,...,1,1,2,0,1,2,2,2,2,0
1,P638,0,0,0,0,0,0,0,0,0,...,1,2,1,1,0,1,1,2,1,2
2,P5939,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,2,2,1
3,P6402,0,0,0,0,0,0,0,0,0,...,1,1,1,0,2,1,1,2,1,2
4,P3888,0,0,0,0,0,0,0,0,0,...,1,2,1,1,2,2,2,1,0,1

In [45]:
X.to_csv('../data/snp.csv', index=False)

In [47]:
gender.to_csv('../data/gender.csv', index=False)
population.to_csv('../data/population.csv', index=False)

/home/victoradell/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.
/home/victoradell/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.